.gridrowfull {
  width: 100%;
}
.gridrow {
  width: $gridwidth-mob;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: $gridwidth-tab;
  }
  @media (min-width: $desktop) {
    width: $gridwidth-desk;
  }
}

.gridrowfull,
.gridrow {
  display: flex;
  flex-wrap: wrap;

  @for $i from 1 through $gridcolumns-mob {
    .colmob-#{$i} {
      box-sizing: border-box;
      width: percentage($i/$gridcolumns-mob);
      padding-left: $gridgutter-mob / 2;
      padding-right: $gridgutter-mob / 2;
    }
    .offsetmob-#{$i} {
      margin-left: percentage($i/$gridcolumns-mob);
    }
  }
  &.nogutter {
    @for $i from 1 through $gridcolumns-mob {
      .colmob-#{$i} {
        padding: 0;
      }
    }
  }

  @media (min-width: $tablet) {
    @for $i from 1 through $gridcolumns-tab {
      .coltab-#{$i} {
        box-sizing: border-box;
        width: percentage($i/$gridcolumns-tab);
        padding-left: $gridgutter-tab / 3;
        padding-right: $gridgutter-tab / 3;
      }
      .offsettab-#{$i} {
        margin-left: percentage($i/$gridcolumns-tab);
      }
    }
    &.nogutter {
      @for $i from 1 through $gridcolumns-tab {
        .coltab-#{$i} {
          padding: 0;
        }
      }
    }
  }

  @media (min-width: $desktop) {
    @for $i from 1 through $gridcolumns-desk {
      .coldesk-#{$i} {
        box-sizing: border-box;
        width: percentage($i/$gridcolumns-desk);
        padding-left: $gridgutter-desk / 2;
        padding-right: $gridgutter-desk / 2;
      }
      .offsetdesk-#{$i} {
        margin-left: percentage($i/$gridcolumns-desk);
      }
    }
    &.nogutter {
      @for $i from 1 through $gridcolumns-desk {
        .coldesk-#{$i} {
          padding: 0;
        }
      }
    }
  }
}
