.tools {
  padding: 64px 30px;

  @media screen and (min-width: 826px) {
    display: flex;
    justify-content: center;
    align-items: center;

    &_txt {
      width: 40%;
    }

    .img-10 {
      width: 55%;
      max-width: 530px;
    }
  }
}
